:root{
    --dark:#429E9D;
    --darker:#21666E;
    --darkest:#1c5f5f;
    --medium:#A5EDF3;
    --light:#FFFFFA;
    --plum:#AF6EAB;
    --purple:#8D3F7F;
     --blue:#8A89BE;
    --lightblue:#ABABD9;
}


*{
    box-sizing: border-box;
    margin: 0;
    font-family: 'Fira sans', sans-serif;

}

body{
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    background-image: url('counter-bg.jpg');
    background-size: cover;
    background-position: top center;
    color: #FFF;
}

header{
    padding: 2rem 1rem;
    max-width: 800px;
    width: 100%;
    margin: 0 auto;
}


main h1{
    font-size: 4rem;
    color: var(--light);
    margin-bottom: 1rem;
    margin-top: 1rem;
    text-transform: uppercase;
}

p {
    font-size: 1.5rem;
    font-style: italic;
    margin-bottom: 1rem;
    color: var(--light);
    text-transform: uppercase;
}


.counter{
    background-color: var(--darkest);
    padding: 1rem;
    border-radius: 1rem;
    color: var(--light);
}

.counter-value{
    font-size: 8rem;
    font-weight: 700;
    text-align: center;
}

.counter-controls{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 -0.5rem;
}

.counter-controls button{
    margin: 0.5rem;
}



input, button{
    appearance: none;
    border: none;
    outline: none;
    background: none;

    color: var(--medium);
    font-size: 1.5rem;
    font-weight: 700;
    text-transform: uppercase;
    cursor: pointer;
    transition: 0.4s ease-out;
}

button span{
    display: block;
    transition: 0.4s ease-out;
}

button[data-action="reset"]{
    color: #DE6868;
    opacity: 1;
}

button[data-action="reset"]:hover{
    opacity: 0.5;
}

.save{
    margin-top: 2rem;
    margin-left: -0.5rem;
    margin-right: 0.5rem;

    display: flex;
    align-items: center;
    justify-content: center;
}

.save button{
    color: #3d3d3d;
}

button:active{
    transform: scale(1.1);
}


main{
    flex: 1 1 0%;
    max-width: 800px;
    width: 100%;
    margin: 0 auto;
}



@media (max-width: 435px) {
	.input, button{
        font-size: 1rem;
    }
	}

